.socialLinks{
    position: fixed;
    float: left;
    bottom: 15%;
    text-decoration: none;
    &__item {
        width: 40px;
        height: 40px;
    }
    ul {
        list-style-type: none;
        li {
            padding-top: 60px;
            a {
                &:hover{
                    
                }
            }
        }
    }
    &:after{
        content: '';
        display: block;
        width: 1px;
        height: 60px;
    }
}