@import '../../style/variables.scss';

.mainPage{
    padding-top: 50px;
    &__title {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        color: #fff;

    }
    &__photo{
        overflow: hidden;
        display: flex;
        justify-content: center;    
        img {
            width: auto;
            height: 40vh;
            border-radius: 100%;
        }
    }
}