@import 'base/normalize.css';
@import '~bootstrap/scss/bootstrap';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;600;800&display=swap');



* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

.app {
    min-height: 100vh;
    background-color: #000;
}

span {
    color: $text-highlighted-green;
    text-shadow: 0 0 5px rgba(152, 206, 0, 0.5), 0 0 10px rgba(152, 206, 0, 0.5),
    0 0 15px rgba(152, 206, 0, 0.5);
}

::-webkit-scrollbar {
    width: 8px;
    background-color: $color--global-background-;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: $color--global-gray;
    border-radius: 4px;
  }
  
  /* Firefox */
  * {
    scrollbar-color: $color--global-background- $color--global-gray;
  }
  
  a {
    text-decoration: none;
    color: $color--global-text;
  }
  
  p {
    margin-bottom: 0.5rem !important;
  }
  
  ul {
    list-style: none;
    // margin: 0 auto !important;
  }
  
  button {
    appearance: none;
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    appearance: none;
    outline: none;
    cursor: pointer;
  }
  
  html,
  body {
    height: 100vh;
    min-width: 200px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'JetBrains Mono', 'Fira Code', 'Montserrat', 'Inter', 'Segoe UI',
      Arial, Helvetica, sans-serif, -apple-system, BlinkMacSystemFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    background-color: $color--global-background- !important;
    scroll-behavior: smooth;
    color: $color--global-text;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  
    header,
    main,
    footer {
      width: 100%;
      margin: 0 auto;
    }
  
    input,
    textarea,
    select {
      appearance: none;
      border: none;
      color: $color--global-text;
  
      &:focus {
        outline: none;
        transition: all 0.2s ease-in-out;
  
        &::placeholder {
          color: transparent;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }

@import 'blocks/main.scss'  