$text-main-color: #fff;
$text-highlighted-green: #98ce00;
$color--global-background-: #161616;
$color--global-text: #e7e7e7;
$color--scrollbar-dark: #000030;
$color--scrollbar-light: #2d496b;
$color--global-green: #98ce00;
$color--global-gray: #989898;
$color--global-button: #2d496b;
$color--global-error: rgba(255, 0, 0, 0.8);
$color--global-js-yellow: #ffdf00;

$text-shadow: 0 0 5px rgba(152, 206, 0, 0.5), 0 0 10px rgba(152, 206, 0, 0.5),
0 0 15px rgba(152, 206, 0, 0.5);


@mixin textarea__add-font-weight($weight) {
	font-family: "JetBrains Mono";
	font-weight: $weight;
	text-indent: 1vw;
	line-height: 1.6;
  }
  
  // Медиа
  @mixin media__add-screen-width($width) {
	@media (max-width: $width) {
	  @content;
	}
  }