@import '../../style/variables.scss';

.aboutme {
	padding-left: 5vw;
	padding-top: 17vh;
  
	@media (max-width: 768px) {
	  padding-top: 10vh;
	}
  
	@media (max-width: 576px) {
	  padding-left: 2vw;
	  padding-right: 2vw;
	}
  
	&__wrapper {
	  display: flex;
	  flex-direction: column;
	  border-radius: 5px;
	  padding: 2vh 1vw 2vh 1vw;
	  position: relative;
  
	  @media (max-width: 1024px) {
		padding: 2vh 3vw 2vh 3vw;
	  }
	}
}